* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}
.container_header,
.container_footer {
    background-color: #1F2937;
}

.container_quote {
    background-color: #e5e7eb;
}

.header {
    display: flex;
    background-color: #1F2937;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header_links {
    margin-left: auto;
    margin-right: 0;
    color: #e5e7eb;
    font-size: 18px;
}

.title {
    display: flex;
    height: 300px;
    margin-left: 15%;
    margin-right: 15%;
}

.title_info,
.title_image {
    margin-top: auto;
    margin-bottom: auto;
}

.title_info {
    margin-right: 20%;
}

.title_image {
    height: 200px;
    width: 1000px;
    background-color: grey;
    text-align: center;
}
.title_text {
    font: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.title_subtext {
    font: 18px;
    color: #e5e7eb;
}

.title_button {
    background-color: #3882f6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #f9faf8;
    box-shadow: black 2px 2px 10px;
}

.info {
    margin-left: 25%;
    margin-right: 25%;
}

.info_images {
    display: flex;
    justify-content: space-between;
}

.info_image {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.info_title {
    text-align: center;
}

.info_images_subtext {
    display: flex;
    justify-content: space-between;
    text-align: center;
}